<aside class="m-side">
	<div class="wrap">
		<div class="date-wrap l">
			<div class="u-inline-date" id="box">
	            <div>
		            <div class="clear cols-box">
		            	<div class="th">日</div>
		      			<div class="th">一</div>
		      			<div class="th">二</div>
		      			<div class="th">三</div>
		      			<div class="th">四</div>
		      			<div class="th">五</div>
		      			<div class="th">六</div>
		      		</div>
		      		<div id="td-con" class="clear cols-box b-l">
		      		</div>
		      	</div>
		      	<div class="clear t-ctr">
	                <div class="yearwrap right">
	                    <span class="item" id="prevyear">&lt;</span>
	                    <span class="" id="year"></span>
	                    <span class="item" id="nextyear">&gt;</span>
	                </div>
	                <div class="monthwrap left">
	                    <span class="item" id="prevmonth">&lt;</span>
	                    <span class="" id="month"></span>
	                    <span class="item" id="nextmonth">&gt;</span>
	                </div>
	            </div>
	      	</div>
		</div>
		<div class="label-wrap l">
			<h3 class="tc">标签</h3>
			<div class="link-box clear">
				<a class="link" href=="javascript:;">前端</a>
				<a class="link" href=="javascript:;">后端</a>
				<a class="link" href=="javascript:;">CSS</a>
				<a class="link" href=="javascript:;">JAVASCRIPT</a>
				<a class="link" href=="javascript:;">A股</a>
				<a class="link" href=="javascript:;">基金</a>
				<a class="link" href=="javascript:;">生活</a>
			</div>
		</div>
		<div class="l mt30">
			<p class="intro">他来自江湖，他不是一个人在战斗他来自江湖，他不是一个人在战斗他来自江湖，他不是一个人在战斗他来自江湖，他不是一个人在战斗</p>
		</div>
	</div>
</aside>