<nav class="m-nav clear">
	<header class="hd">
		<div class="u-avatar">
			<a href="javascript:;" class="link"></a>
		</div>
		<div class="wrap">
			<h1>
				<a href="javascript:;">KaRaoXake</a>
			</h1>
			<h2>专注前端开发</h2>
			<ul class="lists">
				<li><a href="/">首页</a></li>
				<li><a href="javascript:;">专题</a></li>
				<li><a href="javascript:;">归档</a></li>
				<li><a href="javascript:;">友链</a></li>
				<li><a href="javascript:;">归档</a></li>
			</ul>
		<div>
	</header>
</nav>