$gray:#ccc;
$global-color:#444;
html {
	font-size: 15px;
    -webkit-tap-highlight-color: transparent;
    font-family: -apple-system,"Helvetica Neue",Helvetica,Arial,"PingFang SC","Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft Yahei",sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	color:$global-color;
    // background: url(http://static.blog.csdn.net/skin/dark1/images/body_bg.jpg) repeat center;
}
html,body {
	height:100%;
	// overflow: hidden;
	line-height: 1.5;
}
html,body,div,nav,footer,aside,section,article,header,ul,li,nav,footer,aside,p,h1,h2,h3{
	margin:0;
	padding:0;
	box-sizing: border-box;
}
a {
	color:inherit;
	text-decoration: none;
}
.tl {text-align:left;}.tc{text-align:center;}.tr{text-align:right;}
.left {float:left;}.right{float: right}
.mt30 {
	margin-top:30px;
}
.overflow-hidden {
	overflow:hidden;
	position:fixed;
}
.clear::before,.clear::after {
	content:'.';
	display: block;
	clear:both;
	visibility: hidden;
	height:0;
}
.btn--black {
	display:inline-block;
	width:100px;
	height:35px;
	line-height: 35px;
	text-align: center;
	background:#000;
	color:#fff;
}
.btn--blue {
	display:inline-block;
	width:100px;
	height:35px;
	line-height: 35px;
	text-align: center;
	color: #017E66;
    background-color: rgba(1,126,102,0.08);
}
.relative {
	position: relative;
}
.img-fit{
	display: block;;
	width:100%;
	object-fit: cover;
}
.g {
	// position: absolute;
	// overflow:auto;
	// top:0;
	// right:0;
	// left:0;
	// height:100%;
	padding-left:270px;
}
.g-con {
	position:relative;
	margin-top:30px;
}
.u-avatar {
	width:120px;
	.link {
		display: block;
		width:100%;
		height:100%
	}
}
.m-nav {
	position: fixed;
	top:0;
	left:0;
	bottom:0;
	width:270px;
	background:rgba(0,154,97,0.5) url(https://cdn.92node.com/1518406317467jz8yg.svg) no-repeat center top;
	background-size:cover;
	.ac-gn {
		display:none;
	}
	.bg {
		position:absolute;
		z-index:-1;
		left:0;
		top:0;
		opacity: 0.1;
		width:100%;
		height:100%;
		background:#000;
		
	}
	.u-avatar {
		// background:url(http://img4.imgtn.bdimg.com/it/u=3257178761,106023809&fm=27&gp=0.jpg) no-repeat center;
		// background-size:100% 100%;
		margin:0 auto;
	}
	.icon-nodejs {
		font-size:120px;
		color:#fff;
	}
	.wrap {
		width:160px;
		margin-left:60px;
		margin-top:20px;
	}
	h1 {
		color:#fff;
    	line-height: 1.5;
	}
	h2 {
		color:#ececec;
		font-size:14px;
		line-height: 1.5;
	}
	.lists {
		margin-top:30px;
		line-height:30px;
		color:#fff;
		font-weight:bolder;
		li {
			list-style: none;
		}
		a:hover {
			text-decoration: underline;
		}
	}
}
.m-con {
	width:100%;
	padding-right: 300px;
	.wrap {
		padding:0px 20px 40px;
	}
	.u-art {
		margin-top:30px;
	}
	
}
.view  {
	color:#017E66;
}
@media (max-width:600px){
	.m-con .u-art {
		margin-top:10px;
	}
	.view {
		display:none;
	}
}
.u-art {
	.con {
		position:relative;
		margin-top:10px;
		&.have-img {
			padding-right:160px;
			min-height:140px;
		}
	}
	.title {
		font-size:24px;
		line-height:1.2;
		padding:10px 0;
	}
	.wrap-img {
		position:absolute;
		right:0;
		top:0;
		padding-left:10px;
		width:150px;
		height:120px;
	}
	.abs {
		font-size:16px;
		padding-bottom:20px;
		line-height: 1.5;
		color:#444;
	}
	.meta {
		padding:10px 0;
		border-top: 1px solid #e4e4e4;
		border-bottom: 1px solid #e4e4e4;
		line-height:24px;
		.type {
			display: inline-block;
		    padding: 0 6px;
		    color: #017E66;
		    background-color: rgba(1,126,102,0.08);
		}
	}

	.btn__wrapper {
		width:100%;
		padding-bottom:20px;
		text-align: center;
	}
}

.m-side {
	position: absolute;
	top:0;
	right:0;
	width:300px;
	padding:0 20px 0 15px;
	background:#fff;
	z-index:101;
	.l {
		padding-bottom:30px;
		border-bottom: 1px solid #e4e4e4;
	}
	.avatar {
		width:100%;
		border-radius: 50%;
		-webkit-border-radius: 50%;
	}
	.intro {
		padding-top: 20px;
		line-height:1.5;
		color:#858585;
		
	}
	.label-wrap {
		padding-top:20px;
		h3 {
			padding-left:10px;
			line-height:30px;
			color:#76bfa1;
			background:rgba(1,126,102,0.08);
		}
	}
	.link-box {
		padding-top:10px;
		padding-left:30px;
		.children {
			margin-left:40px;
			li {
				list-style-type: square;
				padding-left:5px;
			}
		}
		.link {
			line-height: 25px;
			text-decoration: none;
			color: #017E66
		}
	}
	
	.date-wrap {
		text-align:center;
		padding-top:30px;
	}
}
.u-inline-date {
	.cols-box {
		border-left:1px solid $gray;
		.edate.cur {
			background:#009a61;
			color:#fff;
			border:1px solid #009a61;
			font-size:24px;
		}
		&>div{
			float:left;
			width:37px;
			height:30px;
			line-height: 30px;
			border-bottom:1px solid $gray;
			&.edate {
				border-right:1px solid $gray;
				&.on {
					color:blue;
					cursor:pointer;
					text-decoration: underline;
				}
			}
		}
		.th {
			border-top:1px solid $gray;
			border-bottom:1px solid $gray;
			border-right:1px solid $gray;
		} 
		.b-l {
			border-bottom:1px solid $gray;
		}
	}
	.start {
		border-right:1px solid $gray;
	}
	.title {
		font-size: 18px;
		line-height: 2;
	}
	.t-ctr {
		.item {
			line-height:24px;
			cursor:pointer;
		}
		.yearwrap {
			margin-right:5px;
		}
	}
	
}
.dateable {
	cursor:pointer;
	color: #017E66;
    background-color: rgba(1,126,102,0.08);
}
.btn-wrap {
	margin-top:40px;
	display: block;
	width:100%;
	height:40px;
	line-height: 40px;
	text-align: center;
	border-radius: 20px;
	background-color: #a5a5a5;
	color:#fff;
}
pre {
	word-wrap: break-word;
    white-space: pre-wrap;
}
.hidden {
	display:none!important;
}
.icon-liulan {
	vertical-align: middle;
}
@media (max-width:1000px) {
	.m-side {
		position:fixed;
		transform:translateX(100%);
		transition: transform 0.5s;
		height:100%;
		overflow-x: auto;
		border-left:1px solid #e4e4e4;
		.wrap {
			position:absolute;
			width:100%;
			padding: 0 20px 0 15px;
		}
	}
	.m-con{ 
		padding-right: 0px;
	}
}
@media (max-width:760px) {
	#paginationTop {
		position: sticky;
    	position: -webkit-sticky;
    	top: 10px;
    	z-index:100;
	}
	.m-hidden {
		display:none;
	}
	.g {
		padding-left:0;
	}
	.type {
		display:none;
	}
	.m-nav {
		position:relative;
		width:100%;
		height:156px;
		.u-avatar {
			position:absolute;
			top:0;
			left:10px;
			width:56px;
			height:56px;
			.icon-nodejs {
				font-size:60px;
			}
		}
		.wrap {
			margin-left: 0;
			width:100%;
			text-align: center;
		}
		.lists {
			li {
				width:60px;
				display:inline-block;
			}
		}
		.ac-gn {
			position:absolute;
			bottom:0;
			display:block;
			width:35px;
			height:36px;
			.center {
				width:100%;
				height:100%;
				position:absolute;
				top:0;
				left:0;
				transition:0.3s;
			}
			b {
				position:absolute;
				display:block;
				width:17px;
				height:1px;
				left:9px;
				background:#fff;
				transition:0.3s;
			}
			.it {
				b {
					top:12.5px;
				}
			}
			.ib {
				
				b {
					bottom:12.5px;
				}
			}
		}
		&.open + .g-con .m-side {
			transform:translateX(0);
		}
		&.open {
			.it {
				transform:rotate(45deg);
				b {
					transform:translateY(5px);
				}
			}
			.ib {
				transform:rotate(-45deg);
				b {
					transform:translateY(-5px);
				}
			}
		}
	}	
}
.g-con .w-e-text {
	table {
		border:none;
    	border-collapse: collapse;
    	border-spacing: 0;
    	th,td {
    		border: 1px solid #E6E6E6;
    		padding: 5px 8px;
    		word-break: normal;
    	}
    	th {
    		background: #F3F3F3;
    	}
	}
	ul,ol {
		margin-left: 3em;
    	padding-left: 0;
	}
	h1,h2 {
	    border-bottom: 1px solid #eee;
	    padding-bottom: 10px;
	    margin: 1.5em 0 0;
	}
	b, strong {
	    font-weight: bold;
	}
	p, h1, h2, h3, h4, h5, table, pre {
		margin: 1.5em 0;
	}
	p:last-child {
	    margin-bottom: 0;
	}
	&>h1:first-child, h2:first-child, h3:first-child, h4:first-child, p:first-child, ul:first-child,ol:first-child, pre:first-child, blockquote:first-child {
	    margin-top: 0;
	}
	a {
		color:#009a61;
		border-bottom: 1px solid rgba(0,154,97,0.25);
    	padding-bottom: 1px;
	}
	blockquote {
	    border-left: 2px solid #009A61;
	    background: #F6F6F6;
	    color: #555;
	    font-size: 1em;
	}
	img {
		max-width:100%;
	}
}
code, kbd, pre, samp {
	font-family: "Source Code Pro",Consolas,Menlo,Monaco,"Courier New",monospace;
}
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}
pre code {
	background-color: #f5f5f5;
	color: #444;
}
.pagination {
  	display: inline-block;
  	padding-left: 0;
  	border-radius: .25rem;
}

.pagination > li {
  	display: inline;
}
.pagination > li > a,
.pagination > li > span {
  	position: relative;
  	float: left;
  	padding: 4px 10px;
  	margin-left: -1px;
  	line-height: 1.5;
  	color: #009a61;
  	text-decoration: none;
  	background-color: #fff;
  	border: 1px solid #ddd;
}

.pagination > li:first-child > a,
.pagination > li:first-child > span {
  	margin-left: 0;
  	border-top-left-radius: .25rem;
  	border-bottom-left-radius: .25rem;
}

.pagination > li:last-child > a,
.pagination > li:last-child > span {
  	border-top-right-radius: .25rem;
  	border-bottom-right-radius: .25rem;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  	color: #004e31;
  	background-color: #eceeef;
  	border-color: #ddd;
}
.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
  	z-index: 2;
  	color: #fff;
  	cursor: default;
  	background-color: #009a61;
    border-color: #009a61;
}

.pagination > .disabled > span,
.pagination > .disabled > span:focus,
.pagination > .disabled > span:hover,
.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover {
  	color: #818a91;
  	cursor: not-allowed;
  	background-color: #fff;
  	border-color: #ddd;
}



